<h1>Seja bem-vindo!</h1>

<h2><%= t'hello'%></h2>
<%= mostrar_meu_nome %>
<%= somar_dois(5)%>



<ul>
    
    <li><%= link_to "Tipos",kinds_path%></li>
    <li><a href="/contacts">Contatos</a></li>
    <li><a href="/addresses"></a>Enderecos</li>
    <li><a href="/phones">Telefones</a></li>
    
</ul>
